{
   "swagger":"2.0",
   "info":{
      "description":"iConnecTel iVoice Callback API Description. See example connector http://swagger.iconnectel.com/callbackpublic/CallbackForm/index.php Github https://github.com/telnexia/ivoice_callback_public",
      "version":"1.0.0",
      "title":"iVoice Callback API",
      "termsOfService":"http://swagger.io/terms/",
      "contact":{
         "email":"support@iconnectel.com",
         "name":"iConnecTel"         
      },
      "license":{
         "name":"",
         "url":""
      }
   },
   "host":"ilivesite2.iconnectel.com",
   "basePath":"/",
   "tags":[
      {
         "name":"callback",
         "description":"Schedule Callback API description"         
      }
   ],
   "schemes":[
      "http"
   ],
   "paths":{
      "/iclicktocallapi/process_callback":{
         "post":{
            "tags":[
               "callback"
            ],
            "summary":"Schedule callbacke",
            "description":"",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                    "name":"api_key",
					"in":"formData",
					"description":"API Key",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"TelNumber",
					"in":"formData",
					"description":"Phone number",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"IP",
					"in":"formData",
					"description":"IP of the requester. Field08 is always filled with IP. Do not use Field08 for anything.",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Country",
					"in":"formData",
					"description":"Country phone code, uk - 347",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"CallReason",
					"in":"formData",
					"description":"Call Reason",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferName",
					"in":"formData",
					"description":"Client name",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferEmail",
					"in":"formData",
					"description":"Client e-mail",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferPhoneType",
					"in":"formData",
					"description":"Client phone type. ?",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ReferralID",
					"in":"formData",
					"description":"Callback referral ID, scheduled get's prefilled with data from callback module",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Delay",
					"in":"formData",
					"description":"Should callback scheduled the nearest possible time. If yes provide 1 or 0. Missing attribute requies callback date and time",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ScheduleDay",
					"in":"formData",
					"description":"Callback day. Possible values today, tomorrow, 1, 2, 3, 4, 5, 6, 7. Numbers get's replaced by today, tomorrow if they matches",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ScheduleTime",
					"in":"formData",
					"description":"Scheduled time of callback. Possible values H:i",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field01",
					"in":"formData",
					"description":"Additional field Field01",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field01Required",
					"in":"formData",
					"description":"Is field Field01 required or not",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field02",
					"in":"formData",
					"description":"Additional field Field02",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field02Required",
					"in":"formData",
					"description":"Is field Field02 required or not",
					"required":false,
					"type":"string",
					"format":"int32"
               }
            ],
            "responses": {
                "200": {
                    "description": "Scheduled information",
                    "schema": {
                    	"$ref": "#/definitions/Callback" 
                    }
                }
            }
         }         
      },
      "/iclicktocallapi/scheduler":{
         "post":{
            "tags":[
               "callback"
            ],
            "summary":"Get schedule for callback",
            "description":"",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                    "name":"api_key",
					"in":"formData",
					"description":"API Key",
					"required":true,
					"type":"string",
					"format":"int32"
               }
            ],
            "responses":{
               "200": {
                    "description": "Get's list of possible schedule list",
                    "schema": {
                    	"$ref": "#/definitions/Schedule"    
                    }
                }
            }
         }         
      }
   },   
   "definitions":{      
      "Callback":{
         "type":"object",
         "properties":{
            "error":{
               "type":"boolean",
               "description":"Was there any errors processing query"
            },
            "fields":{
               "type":"array", 
               "items": {
	              "type": "string"
	           },               
               "description":"Holds field names of missing fields. This field is present only if error is true"
            },
            "msg":{
               "type": "string",
               "description": "Success or error message"               
            }
         }
      },
      "Schedule":{
         "type":"object",
         "properties":{
            "error":{
               "type":"boolean",
               "description":"Was there any errors processing query"
            },
            "list":{
               "$ref": "#\/definitions\/Schedule.list",
               "description": "List object"               
            }
         }
      },
      "Schedule.list.daylist":{
         "type":"object",
         "properties":{
            "active":{
               "type":"number",
               "description":"Is day active for scheduling or not 1 || 0"
            },
            "available":{
               "type":"number",
               "description":"Is available"
            },
            "fullname":{
               "type":"string",
               "description":"Day full name. E.g Friday 24 March 2017"
            },
            "wday":{
               "type":"string",
               "description":"Day of the week. today || tomorrow || 1 || 2 || 3 || 4 || 5 || 6 || 7"
            }
         }
      },
      "Schedule.list.timelist":{
         "type":"object",
         "properties":{
            "value":{
               "type":"string",
               "description":"Example - 21:37"
            },
            "fullname":{
               "type":"string",
               "description":"Example - 9:30pm - 10:00pm"
            }
         }
      },
      "Schedule.timelistdays":{
         "type":"object",
         "properties":{
            "1":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "2":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "3":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "4":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "6":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "7":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "today":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            },
            "tomorrow":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.timelist"
               },
               "description": "Array of possible calltime for a day"
            }
         }
      },
      "Schedule.list":{
         "type":"object",
         "properties":{         
            "day_list":{
               "type": "array",
               "items": {
                    "$ref": "#\/definitions\/Schedule.list.daylist"
               },
               "description": "Array of possible daylist"
            },
            "time_list":{
               "type": "object",
               "$ref": "#\/definitions\/Schedule.timelistdays",
               "description": "List object"               
            },
            "today":{
               "type":"number",
               "description":"What day is it today from list"
            },
            "tomorrow":{
               "type":"number",
               "description":"What day would be tomorrow"
            },
            "delay":{
               "type":"boolean",
               "default" : true,
               "description":"Is scheduling callback for next available agent is possible. True - yes, false - no. If delay equal false, option should be hidden."
            },
            "unavailable":{
               "type":"boolean",
               "default": false,
               "description":"If this is true that means scheduling callback is impossible. And unavailable page should be shown."
            }
         }
      }
   },
   "externalDocs":{
      "description":"Find out more about iConnecTel Services",
      "url":"http://www.iConnecTel.com"
   }
}
