{
   "swagger":"2.0",
   "info":{
      "description":"iConnecTel iVoice Callback API Description. See example connector http://ilivesite11dev.iconnectel.com/_DefaultForm/",
      "version":"1.0.0",
      "title":"iVoice Callback API",
      "termsOfService":"http://swagger.io/terms/",
      "contact":{
         "email":"support@iconnectel.com",
         "name":"iConnecTel"         
      },
      "license":{
         "name":"",
         "url":""
      }
   },
   "host":"ilivesite2dev.iconnectel.com",
   "basePath":"/v2",
   "tags":[
      {
         "name":"callback",
         "description":"Schedule Callback API description"         
      }
   ],
   "schemes":[
      "http"
   ],
   "paths":{
      "/iclicktocallapi/process_callback":{
         "post":{
            "tags":[
               "callback"
            ],
            "summary":"Schedule callbacke",
            "description":"",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                    "name":"api_key",
					"in":"formData",
					"description":"API Key",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"TelNumber",
					"in":"formData",
					"description":"Phone number",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"IP",
					"in":"formData",
					"description":"IP of the requester. Field08 is always filled with IP. Do not use Field08 for anything.",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Country",
					"in":"formData",
					"description":"Country phone code, uk - 347",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"CallReason",
					"in":"formData",
					"description":"Call Reason",
					"required":true,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferName",
					"in":"formData",
					"description":"Client name",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferEmail",
					"in":"formData",
					"description":"Client e-mail",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"SurferPhoneType",
					"in":"formData",
					"description":"Client phone type. ?",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ReferralID",
					"in":"formData",
					"description":"Callback referral ID, scheduled get's prefilled with data from callback module",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Delay",
					"in":"formData",
					"description":"Should callback scheduled the nearest possible time. If yes provide 1 or 0. Missing attribute requies callback date and time",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ScheduleDay",
					"in":"formData",
					"description":"Callback day. Possible values today, tomorrow, 1, 2, 3, 4, 5, 6, 7. Numbers get's replaced by today, tomorrow if they matches",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"ScheduleTime",
					"in":"formData",
					"description":"Scheduled time of callback. Possible values H:i",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field01",
					"in":"formData",
					"description":"Additional field Field01",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field01Required",
					"in":"formData",
					"description":"Is field Field01 required or not",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field02",
					"in":"formData",
					"description":"Additional field Field02",
					"required":false,
					"type":"string",
					"format":"int32"
               },
               {
                    "name":"Field02Required",
					"in":"formData",
					"description":"Is field Field02 required or not",
					"required":false,
					"type":"string",
					"format":"int32"
               }
            ],
            "responses": {
                "200": {
                    "description": "Scheduled information",
                    "schema": {
                    }
                }
            }
         }         
      },
      "/iclicktocallapi/scheduler":{
         "post":{
            "tags":[
               "callback"
            ],
            "summary":"Get schedule for callback",
            "description":"",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                    "name":"api_key",
					"in":"formData",
					"description":"API Key",
					"required":true,
					"type":"string",
					"format":"int32"
               }
            ],
            "responses":{
               "200": {
                    "description": "Get's list of possible schedule list",
                    "schema": {
                    }
                }
            }
         }         
      }
   },   
   "definitions":{
      "Order":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "petId":{
               "type":"integer",
               "format":"int64"
            },
            "quantity":{
               "type":"integer",
               "format":"int32"
            },
            "shipDate":{
               "type":"string",
               "format":"date-time"
            },
            "status":{
               "type":"string",
               "description":"Order Status",
               "enum":[
                  "placed",
                  "approved",
                  "delivered"
               ]
            },
            "complete":{
               "type":"boolean",
               "default":false
            }
         },
         "xml":{
            "name":"Order"
         }
      },
      "Category":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "name":{
               "type":"string"
            }
         },
         "xml":{
            "name":"Category"
         }
      },
      "User":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "username":{
               "type":"string"
            },
            "firstName":{
               "type":"string"
            },
            "lastName":{
               "type":"string"
            },
            "email":{
               "type":"string"
            },
            "password":{
               "type":"string"
            },
            "phone":{
               "type":"string"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status"
            }
         },
         "xml":{
            "name":"User"
         }
      },
      "Tag":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "name":{
               "type":"string"
            }
         },
         "xml":{
            "name":"Tag"
         }
      },
      "Pet":{
         "type":"object",
         "required":[
            "name",
            "photoUrls"
         ],
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "category":{
               "$ref":"#/definitions/Category"
            },
            "name":{
               "type":"string",
               "example":"doggie"
            },
            "photoUrls":{
               "type":"array",
               "xml":{
                  "name":"photoUrl",
                  "wrapped":true
               },
               "items":{
                  "type":"string"
               }
            },
            "tags":{
               "type":"array",
               "xml":{
                  "name":"tag",
                  "wrapped":true
               },
               "items":{
                  "$ref":"#/definitions/Tag"
               }
            },
            "status":{
               "type":"string",
               "description":"pet status in the store",
               "enum":[
                  "available",
                  "pending",
                  "sold"
               ]
            }
         },
         "xml":{
            "name":"Pet"
         }
      },
      "ApiResponse":{
         "type":"object",
         "properties":{
            "code":{
               "type":"integer",
               "format":"int32"
            },
            "type":{
               "type":"string"
            },
            "message":{
               "type":"string"
            }
         }
      }
   },
   "externalDocs":{
      "description":"Find out more about iConnecTel Services",
      "url":"http://www.iConnecTel.com"
   }
}
